* {
    margin: 0;
    padding: 0 ;
}

.main-content{
    background-color:#161616 ;
    color:lightgray;
    height: 100vh;
    width: 100%;
   
}
.navbar-brand{
    color:lightgray;
}
.nav-item{
    color: lightgray;
    margin-left:20px !important;
    margin-right:20px !important;
}
.my-icons{
    color: lightgray;
    margin-right: 2px !important;
}
#description{
    text-align: center;
    margin-top: 100px !important;
}
.myPhoto{
    margin-left: auto;
    margin-right: auto;
    
}
.myPhoto >img{
    border:1px solid lightgray;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: contain;
  
}
.emoji{
    width: 20px;
    height: 20px;
    padding-bottom: 2px;
}
.stacks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color:#161616 ;
    /* background-color:lightgray; */
    /* margin-right:200px;
    margin-left: 200px; */
}

/* Setting the stroke to green using rgb values (0, 128, 0) */
 
.custom-toggler .navbar-toggler-icon {
    background-image: url("/assets/icons8-menu-50.png");
    padding-right: 5px !important;
}
@media only screen and (max-width: 768px) {
    .main-content{
        background-color:#161616 ;
        color:lightgray;
        height: 100%;   
    }
    .stacks{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:#161616 ;
        /* background-color:lightgray; */
        /* margin-right:200px;
        margin-left: 200px; */
    }
    .stacks > div{
        flex: 1 0 auto;
        
    }
  }

  @media only screen and (max-width: 1024px) {
    /* body {
      background-color: lightblue;
    } */
  }