<div class="main-content">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CarolCodes</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#"><i class="bi bi-house-heart-fill my-icons"></i>Home </a>
            <a class="nav-item nav-link" href="#"><i class="bi bi-linkedin my-icons"></i>LinkedIn</a>
            <a class="nav-item nav-link" href="#"><i class="bi bi-twitter my-icons"></i>Twitter</a>
            <a class="nav-item nav-link " href="#"><i class="bi bi-graph-up-arrow my-icons"></i>Projects</a>
          </div>
        </div>

      </div>
        
    </nav>

    <div id="description">
      <div class="myPhoto"><img src="\assets\anothermeee.jpeg" alt="carolCodes"></div>
     <div><p>Hi,I am Caroline Muchemi<span><img class="emoji" src="\assets\icons8-waving-hand-emoji-48.png"></span></p></div> 
      <h4>Front-End Developer,Passionate about building solutions <br>and a Women in Tech Ambassador.</h4>
    </div>

    <div class="stacks">
      <img src="assets\icons8-angular-96 (1).png">
      <img src="assets\icons8-git-96 (1).png">
      <img src="assets\icons8-github-96.png">
      <img src="assets\icons8-javascript-96.png">
      <img src="assets\icons8-nodejs-96.png">
    </div>
</div>
