* {
    margin: 0;
    padding: 0 ;
}
.main{
    background-image: url('/assets/bg-nature.jpg');
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-size: cover;
    opacity:0.2;
}
.content{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width:1024px) {
    .main {
        background-size: contain;
        background-image: url('/assets/bg-nature.jpg');
        width: 100%;
        height: 100vh;
        /* overflow: hidden; */
        position: relative;
        background-size: cover;
    }

}

