<div class="main-content">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Carol-Codes</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#"><i class="bi bi-house-heart-fill my-icons"></i>Home </a>
            <a class="nav-item nav-link" href="#"><i class="bi bi-linkedin my-icons"></i>LinkedIn</a>
            <a class="nav-item nav-link" href="#"><i class="bi bi-twitter my-icons"></i>Twitter</a>
            <a class="nav-item nav-link " href="#"><i class="bi bi-graph-up-arrow my-icons"></i>Projects</a>
          </div>
        </div>

      </div>
        
    </nav>

    <div id="description">
      <p>Hi,I am Caroline Muchemi.</p>
      <h4>Front-End Developer,Passionate about building solutions and a Women in Tech Ambassador.</h4>
    </div>
</div>
